body {
    background: var(--background);
    color: var(--color);
}

* {
    scrollbar-color: var(--scrollbar-color) var(--main-background);
}

*::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
}

header {
    background: var(--header-background);
    color: var(--header-color);
}

.now {
    color: var(--now-color);
}

main {
    background: var(--main-background);
}

.link {
    color: var(--link-color);
}

#musicBtn, #lightBtn, .menu, #pageMenu {
    background: var(--btn-background);
    color: var(--btn-color);
}

.hide {
    color: var(--btn-background);
}

@media (any-hover: hover) {
    nav:hover, .menu .btn:hover, #pageMenu .btn:hover {
        background: var(--btn-hover-background);
    }
}

@media (any-hover: none) {
    nav:active, .menu .btn:active, #pageMenu .btn:active {
        background: var(--btn-hover-background);
    }
}

.dark {
    --background: #222222;
    --color: #EEEEEE;
    --scrollbar-color: #555555;
    --header-background: #333333;
    --header-color: #EEEEEE;
    --now-color: #999999;
    --main-background: #333333;
    --link-color: #999999;
    --btn-background: #333333;
    --btn-hover-background: rgba(238, 238, 238, 0.2);
    --btn-color: #EEEEEE;
    --rain-red: 153;
    --rain-green: 204;
    --rain-blue: 255;
}

.white {
    --background: #CCCCCC;
    --color: #222222;
    --scrollbar-color: #BBBBBB;
    --header-background: #DDDDDD;
    --header-color: #222222;
    --now-color: #999999;
    --main-background: #DDDDDD;
    --link-color: #999999;
    --btn-background: #DDDDDD;
    --btn-hover-background: rgba(238, 238, 238, 0.8);
    --btn-color: #222222;
    --rain-red: 51;
    --rain-green: 153;
    --rain-blue: 204;
}

.blue {
    --background: #EEEEEE;
    --color: #111111;
    --scrollbar-color: #99CCFF;
    --header-background: #99CCFF;
    --header-color: #EEEEEE;
    --now-color: #FFFFFF;
    --main-background: #FFFFFF;
    --link-color: #999999;
    --btn-background: #99CCFF;
    --btn-hover-background: rgba(238, 238, 238, 0.2);
    --btn-color: #EEEEEE;
    --rain-red: 51;
    --rain-green: 153;
    --rain-blue: 204;
}

.pink {
    --background: #EEEEEE;
    --color: #111111;
    --scrollbar-color: #FF99CC;
    --header-background: #FF99CC;
    --header-color: #EEEEEE;
    --now-color: #FFFFFF;
    --main-background: #FFFFFF;
    --link-color: #999999;
    --btn-background: #FF99CC;
    --btn-hover-background: rgba(238, 238, 238, 0.2);
    --btn-color: #EEEEEE;
    --rain-red: 51;
    --rain-green: 153;
    --rain-blue: 204;
}